.img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.users {
    display: flex;
}

.follow {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin-left: 20px;
    margin-top: 15px;
}

.follow button {
    margin-top: 5px;
    border-radius: 10px;
}

.descriptionFollows {
    border: 1px solid black;
    width: 100%;
    margin: 10px 0 10px 30px;
    border-radius: 10px;
}

.nameInform {
    display: flex;
    justify-content: space-between;
    height: 70%;
    padding: 20px
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.currentUsersPage {
    font-weight: bold;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 5px 2px 0 2px;
}
.usersPage {
    display: inline-block;
    border: 1px solid black;
    cursor: pointer;
    padding: 5px;
    margin: 5px 2px 0 2px;
}

.unfollowButton {
    background: cornflowerblue;
}