.image {
    width: 100%;
    height: 200px;
}

.description {
    display: flex;
    padding: 10px;

}
.profileData {
    margin-left: 20px;
}

.ava {
    border-radius: 50%;
    width: 300px;
}
.contacts{
    display: flex;
}
.contactsItems{
    margin-left: 10px;
}
.imageJob {
    width: 100px;
}